pre {
  max-width: 100%;
  margin: 10px 0;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  background-color: #404045;
}

pre > code {
  overflow: auto;
  display: block;
  padding: 1rem;
  border-radius: 0;
  background-color: black;
}

code {
  background-color: #404045;
  padding: 1px 5px;
  border-radius: 5px;
}


.hljs-built_in {
  color: orange;
}

.hljs-string {
  color: green;
}

.hljs-comment {
  color: gray;
}

.hljs-keyword {
  color: #2e95d3;
}

.hljs-number {
  color: lightblue;
}

.hljs-type {
  color: indianred;
}

.hljs-title {
  color: #f22c3d;
}
